    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form id="checkout-form">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>First Name<span>*</span></p>
                                        <input type="text" placeholder="{{this.firstName}}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text" placeholder="{{this.lastName}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" id="address1" placeholder="Street Address" class="checkout__input__add">
                                <input type="text" id="address2" placeholder="Apartment, suite, unit etc. (optional)">
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input id="town-city" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>State<span>*</span></p>
                                <input id="state" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Postcode<span>*</span></p>
                                <input id="postcode" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input id="country" type="text" value="Australia" disabled>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input id="phone" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input id="email" type="text" value="{{this.email}}">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                <ul>
                                    <li>Fruit & Vegetable Package <span id="greens-total"></span></li>
                                    <li>Fresh Meat Package <span id="meat-total"></span></li>
                                    <li>Fresh Eggs & Butter Package <span id="dairy-total"></span></li>
                                </ul>
                                <div class="checkout__order__subtotal">Subtotal <span id="subTotal"></span></div>
                                <div class="checkout__order__total">Total <span id="total"></span></div>
                                <p>Thank you for shopping with the ORGANIC Farmers Market.</p>
                                <ul>
                                    <li>Your balance credit: <span id="current-credits">{{credits}}</span></li>
<li class="insufficient">Insufficient credits! Please add credits below.</li>
                                </ul>
<div>
<h5>Add Credit</h5>
                                        <input id="creditAmount" type="number">
                                    <button type="button" id="addCredit">Add Credit</button>

</div>

                                <button type="submit" class="site-btn" id="place-order" data-userId="{{this.id}}">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

