<tr id="{{id}}" data-category="{{itemCategory}}">
  <td class="shopping__cart__item">{{this.itemName}}</td>
  <td class="shopping__cart__price">{{this.itemPrice}}</td>
  <td>{{this.itemUnit}}</td>

  <td class="shopping__cart__quantity">
    <div class="quantity">
      <div class="pro-qty">
        <input type="text" value="{{this.itemQuantity}}" />
      </div>
    </div>
  </td>

  <td>
    <button type="button" class="btn btn-danger">
      Add
    </button>
  </td>
</tr>
