<tr id="{{id}}" data-category="{{item_category}}">
  <td class="shoping__cart__item">{{this.item_name}}</td>
  <td class="shoping__cart__price">{{this.item_price}}</td>
  <td>{{this.item_unit}}</td>

  <td class="shoping__cart__quantity">
    <div class="quantity">
      <div class="pro-qty">
        <input type="text" value="{{this.item_quantity}}" />
      </div>
    </div>
  </td>

  <td>
    <button type="button" class="btn btn-danger">
      Add
    </button>
  </td>
</tr>
